{% for installation in installations %}

[job-run "restart-{{ installation.name }}"]
schedule = 0 55 3 * *
image = docker:cli
delete = true
volume = /var/run/docker.sock:/var/run/docker.sock
command = sh -c `docker restart most-giroe-{{ installation.name  }}`

{% endfor %}


