[DEFAULT]
mqtt_user = user@domain.net
mqtt_pass = SecretPassword
broker_port = 8883
broker_crt  = venus-ca.crt
api_access_token = 1234567890abcdef123456789abcdef
api_ui  = 654321

influx_host = influx.domain.net
influx_pass = YourDBPassword
influx_port = 8086
influx_db = DBName

id_site = {{ installation.id_site }}
installation = {{ installation.name }}
